.container {
  justify-content: center;
  padding: 0 20px;

  width: 100%;
  align-items: center;
  background: #0f2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  margin-top: 50px;
  margin-bottom: -0px;
  border-radius: 20px;
}

.searchbar {
  margin: 68px;
  width: calc(45vw + 70px);
  font-size: 12px;
}

.headingWrapper {
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 768px) {
  .MenuContainer {
    height: 8000px;
  }
}

@media screen and (max-width: 480px) {
  .MenuContainer {
    height: 8000px;
    position: fixed;
  }
}

.pHeading {
  font-weight: bold;
  font-size: 30px;
  /* margin-left: calc(2vw + 80px); */
  /* margin-top: 50px; */
  padding-top: 20px;
  margin-bottom: 0px;
  color: #fff;
}

.playDesc {
  /* margin-top: 60px; */
  /*     
    margin-left: 110px; */
  color: white;
  font-style: bold;
  font-weight: 300;
}

.card {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 360px;
  max-height: 340px;
  box-shadow: 65px;
  transition: all 0.2s ease-in-out;
  float: left;
  margin-left: 3.3rem;
  margin-top: 1rem;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 240px;
}

.pimg {
  margin-top: 70px;
  height: 360px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  border: 5px solid #fff;
}

.pimg:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}


.playlistCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.licon {
  margin-left: 1050px;
  margin-top: 10px;
  font-size: larger;
}

.pdbtn {
  margin-left: 1050px;
}

.uebtn {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.playTitle {
  color: white;
}

@media screen and (max-width: 768px) {
    .card {
        margin-top: 0rem;
    }

    .uebtn {
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .card {
        margin-top: 0rem;
    }

    .uebtn {
        margin: auto;
    }
}